html {
  height: 100%;
}


@media (min-height: 2160px) {
  body {
    scale: 2.2;
  }
}

@media (min-height: 1600px) and (max-height:2159px) {
  body {
    scale: 1.8;
  }
}

@media (min-height: 1600px) and (max-height:2159px) {
  body {
    scale: 1.6;
  }
}


@media (min-height: 1200px) and (max-height:1599px) {
  body {
    scale: 1.3;
  }
}

@media (min-height: 1000px) and (max-height:1199px) {
  body {
    scale: 1.1;
  }
}

@media (min-height: 800px) and (max-height:999px) {
  body {
    scale: 0.9;
  }
}

@media (min-height: 600px) and (max-height:799px) {
  body {
    scale: 0.7;
  }
}

@media (min-height: 400px) and (max-height:599px) {
  body {
    scale: 0.4;
  }
}

@media (max-height:399px) {
  body {
    scale: 0.2;
  }
}


@media (min-aspect-ratio: 1.1) and (max-aspect-ratio: 1.4) and (min-height:800px) {
  .crocodile {
    bottom: -5%;
    left: 10%;
  }
}

@media (min-aspect-ratio: 1.4) and (max-aspect-ratio: 1.58) and (min-height:800px) {
  .crocodile {
    bottom: -5%;
    left: 15%;
  }
}

@media (min-aspect-ratio: 1.58) and (max-aspect-ratio: 1.8) and (min-height:800px) {
  .crocodile {
    bottom: -5%;
    left: 18%;
  }
}

@media (min-aspect-ratio: 1.58) and (max-aspect-ratio: 1.76) and (min-height:800px) {
  .crocodile {
    bottom: -5%;
    left: 18%;
  }
}

@media (min-aspect-ratio: 1.76) and (max-aspect-ratio: 1.9) and (min-height:800px) {
  .crocodile {
    bottom: -5%;
    left: 21%;
  }
}

@media (min-aspect-ratio: 1.9) and (max-aspect-ratio: 2.15) and (min-height:800px) {
  .crocodile {
    bottom: -5%;
    left: 24%;
  }
}

@media (min-aspect-ratio: 2.15) and (max-aspect-ratio: 2.4) and (min-height:800px) {
  .crocodile {
    bottom: -5%;
    left: 27%;
  }
}

@media (min-aspect-ratio: 2.4) and (min-height:800px) {
  .crocodile {
    bottom: -5%;
    left: 30%;
  }
}

body {
  overflow: hidden;
  background: 
    linear-gradient(
      180deg,
      rgb(68, 214, 255),
      rgba(9, 0, 255, 0) 10%
    ),
    linear-gradient(
      90deg,
      rgb(10, 129, 24),
      rgba(9, 0, 255, 0) 20%
    ),
    linear-gradient(
      7deg,
      rgb(101, 214, 255),
      rgba(55, 255, 65, 0.022) 20%
    ),
    linear-gradient(
      2deg,
      rgb(48, 255, 59),
      rgba(0, 255, 110, 0) 10%
    ),
    linear-gradient(
      272deg,
      rgb(144, 108, 0),
      rgba(144, 108, 0, 0.356) 20%
    );
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  min-height: 100%;
}

.App {
  padding-left: 10px;
  background: url(../public/background/background5.png) no-repeat;
  background-size: 100%;
  width: 1290px;
  height: 950px;
  border-radius: 20px;
}

.castle {
  position: relative;
  top: -950px;
  left: 620px;
}

button {
  margin-right: 20px;
  border-radius: 5px;
  font-size: x-large;
  background: #fff787;
}

.modalBack{
  margin-left: -2000px;
  margin-top: -2000px;
  background: #00000075;
  height: 1000vh;
  width: 1000vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.modalWindow {
  font-size: large;
  padding: 15px;
  border: #a757157f solid 4px;
  border-radius: 20px;
  background: #cccf17;
  position: absolute;
  left: 30%;
  top: 40%;
  width: 40%;
  text-align: center;
  z-index: 10;
}

.fire1 {
  position: relative;
  top: 500px;
  left: -130px;
  z-index: 1;
  scale: 0.75
}

.fire2 {
  position: relative;
  top: 90px;
  scale: 0.6;
  left: -150px;
  z-index: 1;
}

.fire3 {
  position: relative;
  left: -250px;
  top: -280px;
  scale: 0.4;
  z-index: 1;
}

.charge1 {
  position: relative;
  text-align: center;
  border-radius: 30px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 86, 86);
  z-index: 2;
}

.charge2 {
  position: relative;
  text-align: center;
  border-radius: 30px;
  font-size: 24px;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 86, 86);
  z-index: 2;
}

.charge3 {
  position: relative;
  text-align: center;
  border-radius: 30px;
  font-size: 20px;
  width: 34px;
  height: 34px;
  background-color: rgb(255, 86, 86);
  z-index: 2;
}

.Vzryv {
  position: relative;
  z-index: 3;
}

.Vzryv-jadro {
  position: relative;
  z-index: 3;
  border-radius: 80px;
}

.Heart {
  position: relative;
  display: inline;
  float: top;
  top: 10px;
  font-size: 26px;
}

.crocodile {
  scale: 0.5;
  position: absolute;
  /* bottom: 30px;
  left: 210px; */
  border-radius: 110px;
  animation-duration: 4s;
  animation-name: slideincroc;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slideincroc {
  from {
    margin-bottom: -20%;
  }

  to {
    margin-bottom: 0%;
  }
}

.birds {
  position: absolute;
  animation-duration: 8s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    margin-left: -50%;
    width: 50%;
  }

  to {
    margin-left: 90%;
    width: 0%;
  }
}



.click {
  position: relative;
  font-size: 28px;
  top: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 4px;
  border: 1px solid #000;
  background-color: #23cf17;
}